<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bio</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Bryce is a lover of Christ and His word with nearly a half decade of experience in 
           graduate-level data science, modeling, analysis, visualization and development (Python & Git ecosystems). 
           Using principled engineering, his love for creation and scientific rigor have been able to express themselves recently through rapid, independent, AI-assisted development for the web.
           With the ability to take problems or projects from ideas to versionable, front-facing applications in days or weeks, he
           aims to work as a field-agnostic (i.e., web-based, product-based, or data-based) developer for Christians, their ministries, and Christ's glory.</p>

        <p>After a quarter of a decade in a protein engineering lab, he found computers to be easier to handle than cells, and he has (almost) never looked back. He also enjoys composing music,
          thinking about Scripture, and watching God's masterpiece (wind) move His other masterpieces (trees) in the backyard.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ '/files/Bryce-Rogers-Resume.pdf' | relative_url }}" class="btn btn-lg btn-outline" download>
          <i class="fa fa-download"></i> Download Resume (PDF)
        </a>
      </div>
    </div>
  </div>
</section>
