<!-- Navigation -->
<nav class="navbar navbar-dark navbar-expand-md fixed-top navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#bs-example-navbar-collapse-1"
            aria-controls="bs-example-navbar-collapse-1"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item page-scroll">
          <a class="nav-link" href="#portfolio">Work Profile</a>
        </li>
        <li class="nav-item page-scroll">
          <a class="nav-link" href="#about">Bio</a>
        </li>
        <li class="nav-item page-scroll">
          <a class="nav-link" href="#contact">Email</a>
        </li>
      </ul>
    </div>
  </div>
</nav>